<!DOCTYPE html>
<html 
    lang="en"
    ng-app="main"
    ng-cloak
    style="background-color: rgb(32, 32, 32);"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>👾 AngularJS Todo App</title>
        <link rel="stylesheet" type="text/css" href="./assets/css/styles.css">
        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none;
            }

            /* todo list item dynamic styles */

            /* even list item */
            .background-grey {
                background-color: rgb(172, 172, 172);
                border-radius: 10px;
            }
            .background-grey span div {
                color: black;
            }
            .background-grey span div span {
                color: black;
            }

            /* odd list item */
            .background-dark-grey {
                background-color: grey;
                border-radius: 10px;
            }
            /* .background-dark-grey > * > * {
                color: white;
            }
            .background-dark-grey > * > * > * {
                color: white;
            } */
            .background-dark-grey span div {
                color: white;
            }
            .background-dark-grey span div span {
                color: white
            }

            /* todo list item dynamic styles */
        </style>
    </head>
    <body class="dark-mode-body">
        <!-- header and random quote -->
        <div ng-controller="main">
            <div class="header-container">
                <header class="header">
                    <h1>AngularJS Todo App</h1>
                    <h2>
                        {{currentQuote}}
                    </h2>
                </header>
            </div>

            <div class="input-length-error">
                <span
                    ng-if="inputLengthIsError"
                >
                    {{errorInputTooLong}}
                </span>    
            </div>
            <!-- todo text input -->
            <div class="input-container">
                <form ng-submit="formSubmit($event)">
                    <input 
                        ng-model="textInput"
                        ng-change="observeInputChange()"
                        type="text"
                        required
                    ></input>
                    <button 
                        type="submit"
                        ng-click="addTodo()"
                    >
                        Add Todo
                    </button>
                    <div class="input-length-display">
                        <span
                            ng-if="!inputLengthIsError"
                            style="color: white;"
                        >
                            Input Length: {{textInputLength}}
                        </span>
                        <span
                            ng-if="inputLengthIsError"
                            style="color: red;"
                        >
                            Input Length: {{textInputLength}}
                        </span>
                    </div>
                </form>
            </div>

             <!-- Modal edit todo content -->
            <div class="modal-container">
                <div 
                    class="modal-content"
                    ng-if="showModal"
                >
                    <div class="modal-header">
                        <span 
                            class="close"
                            ng-click="closeModal()"
                        >
                            <i ng-click ="closeModal()" class="fas fa-times-circle"></i>
                        </span>
    
                        <h2>
                            Edit Todo 
                            <span>
                                {{modalCurrentTodoDate.replace('Created: ', '')}}
                            </span>
                        </h2>
                    </div>
                        
                    <div class="modal-body">
                        <div class="input-container">
                            <input 
                                type="text"
                                ng-model="modalTextInput"
                                ng-change="observeModalInputChange()"
                            >    
                            <button
                                ng-click="editTodo()"
                                style="margin-top: 0; margin-left: 10px;"
                            >
                                Edit
                            </button>
                        </div>
                    </div>
    
                    <div class="modal-footer"></div>
                </div> 
            </div>
            <!-- todolist -->
            <div class="todo-list-container">
                <h2>Todo List</h2>
                <ol 
                    class="todo-list" 
                    id="todo-list"
                    ng-start="0"
                >
                    <li
                        ng-if="todos.length > 0"
                        ng-repeat="todo in todos"
                        ng-class-odd="'background-dark-grey'"
                        ng-class-even="'background-grey'"
                    >
                        <span>

                            <div>
                                {{todo.text}}
                                <span>
                                    {{todo.createdAt}}
                                </span>
                            </div>
                            
                            <div class="btn-container">
                                <button
                                    id="{{todo.id}}"
                                    class="edit-btn"
                                    ng-click="openModal($event)"
                                >
                                    <i
                                        id="{{todo.id}}" 
                                        class="fas fa-edit"
                                        ng-click="openModal($event)"
                                    ></i>
                                </button>
                                <button 
                                    id="{{todo.id}}" 
                                    class="trash-btn"
                                    ng-click="removeTodo($event)" 
                                >
                                    <i 
                                        id="{{todo.id}}"
                                        class="fas fa-trash"
                                        ng-click="removeTodo($event)"
                                    ></i>
                                </button>
                            </div>

                        </span>

                    </li>
                </ol>
            </div>

        </div>

        <script src="https://kit.fontawesome.com/486326e454.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js" integrity="sha512-UNM1njAgOFUa74Z0bADwAq8gbTcqZC8Ej4xPSzpnh0l6KMevwvkBvbldF9uR++qKeJ+MOZHRjV1HZjoRvjDfNQ==" crossorigin="anonymous"></script>
        <script src="./assets/js/timeConversion.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>