<!DOCTYPE html>
<html 
  lang="en"
  ng-cloak
>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
      [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none;
      }
      * {
        color: white;
      }
      * input {
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="input-container">
      <form ng-submit="signupSubmit($event)">
        <div
          style="display: flex; flex-direction: column;"
        >
          <label for="username">
            Username
          </label>
          <input 
            type="text"
            name="username"
            ng-model="signupInput.username"
            ng-change="signupObserveInput()"
            ng-pattern="signupInput.pattern"
            required
            autocomplete="off"
          >
          <span>{{signupInput.userLength}}</span>
          <label for="password">
            Password
          </label>
          <input 
            type="password"
            name="password"
            ng-model="signupInput.password"
            ng-change="signupObserveInput()"
            ng-pattern="signupInput.pattern"
            required
            autocomplete="off"
          >
          <span>{{signupInput.passLength}}</span>
          <button style="margin: 0 auto;" type="submit">
            Signup
          </button>
        </div>
  
      </form>
    </div>
  </body>
</html>