* {
  color: black;
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.header > * { 
  color: white;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
.header > * > * {
  color: white;
}

.random-quote-container {
  display: flex;
  position: relative;
  top: 0px;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap
}
.random-quote {
  color: white;
  font-size: 20px;
  position: absolute;
  animation-name: animatein;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes animatein {
  from {
    top: -500px; opacity: 0
  }
  to {
    top: 0px; opacity: 1
  }
}

.input-length-display {
  display: flex;
  width: 100%;
}

.input-length-error {
  display: flex;
  justify-content: center;
  position: relative;
}
.input-length-error span{
  color: red;
  margin: 0 auto;
  position: absolute;
  top: 10%;
}

.dark-mode-body {
  background-color: rgb(32, 32, 32);
}

.input-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.input-container form {
  margin-bottom: 30px;
}

.input-container input {
  height: 30px;
  width: 30vw;
  border-radius: 10px;
  border: none;
  text-align: left;
  resize: none;
  padding: 0 10px;
}
.input-container button {
  margin-top: 30px;
  margin-left: 10px;
  height: 30px;
  width: 100px;
  color: blue;
  background-color: rgb(66, 192, 241);
  border-radius: 10px;
  border: none;
  transition: .1s;
  cursor: pointer;
}
.input-container button:hover {
  background-color: blue;
  color: rgb(66, 192, 241);
  transition: .1s;
}

.todo-list-container {
  margin: 0 10%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}
.todo-list-container h2 {
  margin: 0 10%;
  height: 30px;
}
/* .todo-list-container ol {
  list-style: none;
} */

.todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 30px;
}
.todo-list li {
  margin: 0px 10%;
  display: block;
  text-align: left;
  padding: 10px 10px;
}
.todo-list span {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.todo-list span div{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.btn-container {
  justify-content: flex-end;
}

.todo-list li .trash-btn {
  margin: 0 10px;
  color: black;
  background-color: rgb(255, 95, 95);
  width: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .1s;
  box-shadow: 0px 3px 5px black;
}
.todo-list li .trash-btn:hover {
  color: white;
  background-color: red;
  cursor: pointer;
  transition: .1s;
  box-shadow: 0px 5px 5px black;
}

.todo-list li .edit-btn {
  margin: 0 10px;
  color: black;
  background-color: rgb(66, 192, 241);
  width: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .1s;
  box-shadow: 0px 3px 5px black;
}
.todo-list li .edit-btn:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
  transition: .1s;
  box-shadow: 0px 5px 5px black;
}

.modal-container {
  position: relative;
}
.modal-input-and-length-container {
  display: flex;
  flex-direction: column;
}
.modal-input-length-error {
  display: flex;
  justify-content: center;
  position: relative;
}
.modal-input-length-error span{
  color: red;
  position: absolute;
  top: -20px;
}
.modal-header {
  padding: 2px 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(66, 192, 241);
}
.modal-header h2 {
  color: white;
}
.modal-body {
  padding: 2px 16px;
}
.modal-footer {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 16px;
  background-color: rgb(66, 192, 241);;
  color: white;
}
.modal-content {
  border-radius: 10px;
  position: absolute;
  background-color: grey;
  margin: auto;
  padding: 0;
  top: -175px;
  left: 10%;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: .8s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes animatetop {
  from {
    top: -500px; opacity: 0
  }
  to {
    top: -175px; opacity: 1
  }
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}